* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


  
body {
    min-width: 1440px;
    min-height: 1170px;
    margin: 0;
    background: #F5F8FA;
}

div#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 40px;
    margin-block-end: 85px;
    border-bottom: 2px solid hsla(204, 18%, 90%, 1);
}

img#nav {
    margin-block: 30px;
}

div#breadcrumbs {
    display: flex;
    margin-block-start: 28px;
    margin-block-end: 31px;
}

div#breadcrumbs>a {
    color: hsla(211, 35%, 17%, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;
    text-align: center;
    margin-inline-end: 44px;
    margin-block-start: 11px;
    margin-block-end: 12px;
    text-decoration: none;
}

button#nav {
    width: 91px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid hsla(213, 10%, 44%, 1);
    background-color: inherit;
    color: hsla(211, 35%, 17%, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;
    padding-inline-start: 17px;
    padding-inline-end: 18px;
    padding-block-start: 9px;
    padding-block-end: 10px;
}

.container {
    margin: 0 auto;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
    max-width: 892px;
    max-height: 795px;
    position: relative;
}

div#form_header {
    width: 161px;
    height: 54px;
    padding-inline-start: 0px;
    padding-block-start: 0px;
    margin-inline-start: 48px;
    margin-inline-end: 371px;
    margin-block-end: 24px;
    color: #1D2C3C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form {
    width: 580px;
    padding-block-start: 41px;
}

div#basic_info {
    border-block-start: 2px solid #F5F7FA;
    height: 253px;
    padding-inline-start: 49px;
    padding-inline-end: 48px;
}

.form_order {
    border: 2px solid #548BC5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-inline: 5px;
    padding-block-start: 2px;
    padding-block-end: 5px;
    color: #548BC5;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.142px;
    display: inline-block;
}

.section_head {
    width: 264px;
    height: 34px;
    margin-block-start: 34px;
    margin-block-end: 9px;
}

.title {
    width: 220px;
    height: 32px;
    color: #1D2C3C;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.16px;
    display: inline-block;
    margin-inline-start: 10px;
    margin-block: 0 auto;
    padding-block: 7px;
}

.name {
    display: flex;
    align-items: center;
}

.firstName {
    width: 227px;
    height: 60px;
    display: inline-block;
}

.lastName {
    width: 226px;
    height: 60px;
    display: inline-block;
    margin-inline-start: 30px;
}

.email {
    width: 370px;
    height: 60px;
    display: inline-block;
    margin-block-start: 15px;
}

label {
    width: 187px;
    display: inline-block;
    color: #1D2C3C;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    height: 36px;
    border-radius: 4px;
    background: hsla(216, 16%, 94%, 1);
    margin-block-start: 7px;
    padding-inline-start: 13px;
    padding-block-start: 9px;
    padding-block-end: 10px;
}

input {
    min-height: 17px;
    background: hsla(216, 16%, 94%, 1);
    line-height: normal;
    border: 0;
    padding: 0;
    outline: none;

    &::placeholder {
        min-height: 17px;
        color: hsla(213, 10%, 44%, 1);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

div#payment_info {
    border-block-start: 2px solid #F5F7FA;
    height: 185px;
    padding-inline-start: 49px;
    padding-inline-end: 48px;
}

.creditCard {
    height: 60px;
    display: inline-block;
}

.cardDetails {
    width: 483px;
    height: 36px;
    border-radius: 4px;
    background: hsla(216, 16%, 94%, 1);
    margin-block-start: 7px;
    padding-inline-start: 13px;
    padding-inline-end: 16px;
    padding-block-start: 9px;
    padding-block-end: 10px;
    align-items: center;
    display: flex;

    &>input {
        width: 154px;
        margin-inline-end: 95px;
    }
}

.other_details {
    display: flex;

    &>input:first-child {
        width: 154px;
        margin-inline-end: 15px;

        &[placeholder] {
            text-align: right;
        }
    }

    &>input:last-child {
        width: 36px;

        &[placeholder] {
            text-align: right;
        }
    }
}

div#action {
    border-block-start: 2px solid #F5F7FA;
    height: 232px;
    width: 580px;
    padding-inline-start: 49px;
    padding-inline-end: 48px;
    padding-block-start: 39px;
    padding-block-end: 46.9px;

    &>button {
        width: 483px;
        height: 52px;
        border: 0;
        border-radius: 5px;
        background: hsla(173, 96%, 28%, 1);
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.396px;
        padding: 0;
    }

    &>#form_footer {
        width: max-content;
        margin: 0 auto;

        &>p {
            display: flex;
            align-items: center;
            margin-block-start: 23px;
            margin-block-end: 34px;

            &>img {
                padding-inline-end: 10px;
            }
        }
    }
}

#stripe {
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: 21px;
}

div#product_info {
    width: 312px;
    max-height: 795px;
    border-radius: 0px 6px 6px 0px;
    background: #1179BF;
    position: absolute;
    top: 0;
    left: 580px;
    bottom: 0;
    right: 0;
}

.plan {
    max-width: 231px;
    margin-block-start: 42px;
    margin-block-end: 36px;
    margin-inline-start: 44px;
    margin-inline-end: 37px;

    &>#product {
        color: hsla(0, 0%, 100%, 1);
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.01px;
        margin: 0;
    }

    &>#offer {
        color: hsla(0, 0%, 100%, 1);
        font-family: Lato;
        font-size: 60px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.015px;
        display: inline-block;
        margin-block-start: 5px;
        margin-block-end: 3px;

        &>sup {
            color: hsla(0, 0%, 100%, 1);
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.015px;
        }

        &>sub {
            color: hsla(0, 0%, 100%, 1);
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.015px;
        }
    }

    &>#renewal {
        color: hsla(0, 0%, 100%, 1);
        font-family: Lato;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.008px;
        max-width: 200px;
        min-height: 48px;
        padding-inline-end: 29px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

.product_details {
    display: inline-block;
    margin-inline-start: 45px;
}

ul{
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding: 0;

    &>li {
        display: flex;
        align-items: center;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.008px;

        &:not(:nth-last-of-type(1)) {
            margin-block-end: 16px;
        }

        &>img {
            margin-inline-end: 11px;
        }
    }
}

p.alternative_plan {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    min-height: 50px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.008px;
    margin-inline-start: 46px;
    margin-inline-end: 80px;
    margin-block-start: 41px;
    margin-block-end: 42px;

    &>span {
        font-weight: 700;
    }

    &>a {
        width: max-content;
        display: inline-block;
        color: #FFF;
        font-weight: 700;

        &:-webkit-any-link {
            text-decoration: underline hsla(189, 100%, 86%, 0.5036);
        }

        &>span {
            font-style: italic;
        }
    }
}

#customer_review {
    display: inline-block;
    max-width: 229px;
    margin-inline-start: 44px;
    margin-inline-end: 39px;
    border-block-start: 2px solid hsla(0, 0%, 100%, 0.2005);
    padding-block-start: 41px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    width: 227px;
    color: #FFF;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.009px;

    &>#customer {
        font-style: normal;
        display: flex;
        align-items: center;
        margin-block-start: 17px;

        &>img {
            border-radius: 50%;
            margin-inline-end: 14px;

        }
    }
}

footer {
    width: 867px;
    margin: 0 auto;
    color: hsla(200, 6%, 41%, 1);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-start: 33px;
    margin-block-end: 139px;
}